<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>신고함 관련 SQL문</comment>
	
	<!-- 신고함 리스트 조회 SQL문 -->
	<entry key="selectReportList">
		SELECT *
		  FROM (SELECT ROWNUM RNUM, A.*
		          FROM (SELECT
		                        REPORT_NO,
		                        RPT_DATE,
		                        RPT_CATEGORY_NAME,
		                        RPT_CONTENT,
		                        M.MEM_ID AS RECIVE_REPORT,
		                        MM.MEM_ID AS SEND_REPORT,
		                        RPT_STATUS,
                                R.RECIPE_TITLE,
                                RP.REPLY_CONTENT
		                  FROM
		                  		TB_REPORT TR
		                  JOIN
		                  		TB_REPORT_CATEGORY TRC ON (TR.RPT_CATEGORY_NO = TRC.RPT_CATEGORY_NO)
		                  JOIN
		                  		TB_MEMBER M ON (M.MEM_NO = RECIVE_REPORT)
		                  JOIN
		                  		TB_MEMBER MM ON (MM.MEM_NO = SEND_REPORT)
                          JOIN 
                                TB_RECIPE R ON (R.RECIPE_NO = TR.RPT_TARGET)
                          JOIN
                                TB_REPLY RP ON (RP.REPLY_NO = TR.RPT_TARGET)
		                 ORDER BY REPORT_NO DESC) A)
		        		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 리워드 리스트 행 조회 SQL문-->
	<entry key="selectReportListCount">
		SELECT
				COUNT(*)
		  FROM
		  		TB_REPORT
	</entry>
	
	
	<!-- 신고함 게시글 상세보기 조회 SQL문 -->
	<entry key="datailReportList">
		SELECT
				RPT_CATEGORY_NAME,
				MM.MEM_ID AS SEND_REPORT,
				M.MEM_ID AS RECIVE_REPORT,
				RECIPE_NO, RECIPE_TITLE,
				RPT_CONTENT
		  FROM
		  		TB_REPORT R               
		  JOIN
		  		TB_REPORT_CATEGORY USING(RPT_CATEGORY_NO)
		  JOIN
		  		TB_MEMBER M ON (M.MEM_NO = RECIVE_REPORT)
		  JOIN
		  		TB_MEMBER MM ON (MM.MEM_NO = SEND_REPORT)
		  JOIN
		  		TB_RECIPE ON (RPT_TARGET = RECIPE_NO)
		  WHERE
		  		REPORT_NO = ?
		    AND
		    	RPT_CATEGORY_NO = ?
	</entry>
	
	
</properties>
