<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
				COUNT(*)
			FROM
				TB_PRODUCT
			WHERE
				PRODUCT_STATUS = 'Y'
	</entry>
	
	<entry key="selectList1">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1
		                    ORDER BY PRODUCT_SCORE_AVG) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectList2">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1
		                    ORDER BY PRODUCT_NO) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectList3">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1
		                    ORDER BY PRODUCT_CREATE_DATE) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectProduct">
		SELECT 
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_SUBNAME,
			PRODUCT_PRICE,
			PRODUCT_DETAIL,
			PRODUCT_DILIVERY,
			PRODUCT_ORIGIN,
			PRODUCT_SCORE_AVG
		FROM
			TB_PRODUCT
		WHERE
			PRODUCT_STATUS = 'Y'
		AND
			PRODUCT_NO = ?
	</entry>
	
	<entry key="selectPicture">
		SELECT 
			PRODUCT_PICTURE_NO,
			PRODUCT_PICTURE_ONAME,
			PRODUCT_PICTURE_CNAME,
			PRODUCT_PICTURE_PATH
		FROM 
			TB_PRODUCT_PICTURE
		WHERE
			PRODUCT_NO = ?
		AND
			PRODUCT_PICTURE_PRSTATUS = '1'
		AND
			PRODUCT_PICTURE_STATUS = 'Y'
	</entry>
	
	<entry key="selectPicture">
		SELECT 
			PRODUCT_PICTURE_NO,
			PRODUCT_PICTURE_ONAME,
			PRODUCT_PICTURE_CNAME,
			PRODUCT_PICTURE_PATH
		FROM 
			TB_PRODUCT_PICTURE
		WHERE
			PRODUCT_NO = ?
		AND
			PRODUCT_PICTURE_PRSTATUS = '1'
		AND
			PRODUCT_PICTURE_STATUS = 'Y'
	</entry>
	
	<entry key="selectProductList">
		SELECT
	          PRODUCT_NO,
	          PRODUCT_NAME,
	          PRODUCT_PRICE,
	          PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
	          PRODUCT_SCORE_AVG
	      FROM
	          TB_PRODUCT
	      JOIN
	          TB_PRODUCT_PICTURE USING(PRODUCT_NO)
	      WHERE
	          PRODUCT_STATUS = 'Y'
	      AND
	      	PRODUCT_PICTURE_LEVEL = 1
	</entry>
	
	<entry key="selectMainList1">
		SELECT
              PRODUCT_NO,
              PRODUCT_NAME,
              PRODUCT_PRICE,
              PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
              PRODUCT_SCORE_AVG
          FROM
              TB_PRODUCT
          JOIN
              TB_PRODUCT_PICTURE USING(PRODUCT_NO)
          WHERE
              PRODUCT_STATUS = 'Y'
          AND
          	PRODUCT_PICTURE_LEVEL = 1
          ORDER BY PRODUCT_SCORE_AVG
	</entry>
	<entry key="selectMainList2">
		SELECT
              PRODUCT_NO,
              PRODUCT_NAME,
              PRODUCT_PRICE,
              PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
              PRODUCT_SCORE_AVG
          FROM
              TB_PRODUCT
          JOIN
              TB_PRODUCT_PICTURE USING(PRODUCT_NO)
          WHERE
              PRODUCT_STATUS = 'Y'
          AND
          	PRODUCT_PICTURE_LEVEL = 1
          ORDER BY PRODUCT_NO
	</entry>
	<entry key="selectMainList3">
		SELECT
              PRODUCT_NO,
              PRODUCT_NAME,
              PRODUCT_PRICE,
              PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
              PRODUCT_SCORE_AVG
          FROM
              TB_PRODUCT
          JOIN
              TB_PRODUCT_PICTURE USING(PRODUCT_NO)
          WHERE
              PRODUCT_STATUS = 'Y'
          AND
          	PRODUCT_PICTURE_LEVEL = 1
          ORDER BY PRODUCT_CREATE_DATE
	</entry>
	
	<entry key="selectCategoryList">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1
		                    AND PRODUCT_CATEGORY_CODE = ?) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectOption">
		SELECT
			OPTION_NO,
			OPTION_NAME,
			OPTION_PRICE
		FROM
			TB_OPTION
		JOIN
			TB_PRODUCT USING(PRODUCT_NO)
		WHERE
			PRODUCT_NO = ?
	</entry>
	
	<entry key="ajaxSelectProductList1">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1
		                    AND
		                    	PRODUCT_CATEGORY_CODE = ?
		                    ORDER BY PRODUCT_NO) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="ajaxSelectProductList2">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1
		                    AND
		                    	PRODUCT_CATEGORY_CODE = ?
		                    ORDER BY PRODUCT_PRICE) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="ajaxSelectProductList3">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1
		                    AND
		                    	PRODUCT_CATEGORY_CODE = ?
		                    ORDER BY PRODUCT_SCORE_AVG) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	




</properties>