<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
				COUNT(*)
			FROM
				TB_PRODUCT
			WHERE
				PRODUCT_STATUS = 'Y'
	</entry>
	
	<entry key="selectProductList">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>






</properties>