<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
				COUNT(*)
			FROM
				TB_PRODUCT
			WHERE
				PRODUCT_STATUS = 'Y'
	</entry>
	
	<entry key="selectProductList">
		SELECT *
		    FROM (SELECT ROWNUM RNUM, A.*
		            FROM (SELECT
		                        PRODUCT_NO,
		                        PRODUCT_NAME,
		                        PRODUCT_PRICE,
		                        PRODUCT_PICTURE_PATH||'/'||PRODUCT_PICTURE_CNAME TITLEIMG,
		                        PRODUCT_SCORE_AVG
		                    FROM
		                        TB_PRODUCT
		                    JOIN
		                        TB_PRODUCT_PICTURE USING(PRODUCT_NO)
		                    WHERE
		                        PRODUCT_STATUS = 'Y'
		                    AND
		                    	PRODUCT_PICTURE_LEVEL = 1) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectProduct">
		SELECT 
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_SUBNAME,
			PRODUCT_PRICE,
			PRODUCT_DETAIL,
			PRODUCT_DILIVERY,
			PRODUCT_ORIGIN,
			PRODUCT_SCORE_AVG
		FROM
			TB_PRODUCT
		WHERE
			PRODUCT_STATUS = 'Y'
		AND
			PRODUCT_NO = ?
	</entry>
	
	<entry key="selectPicture">
		SELECT 
			PRODUCT_PICTURE_NO,
			PRODUCT_PICTURE_ONAME,
			PRODUCT_PICTURE_CNAME,
			PRODUCT_PICTURE_PATH
		FROM 
			TB_PRODUCT_PICTURE
		WHERE
			PRODUCT_NO = ?
		AND
			PRODUCT_PICTURE_PRSTATUS = '1'
		AND
			PRODUCT_PICTURE_STATUS = 'Y'
	</entry>






</properties>