<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>좋아요 관련 SQL문</comment>

	<entry key="heartCountGeneralBoard">
		SELECT COUNT(*)
		FROM TB_HT_$BASEKEY
		JOIN
			 (SELECT $BASEKEY_NO
			    FROM TB_$BASEKEY
			    JOIN TB_MEMBER
			      ON ($BASEKEY_WRITER_NO = MEM_NO)
			   WHERE $BASEKEY_STATUS = 'Y'
			     AND MEM_STATUS = 'Y'
			   )
		 USING
		 	   ($BASEKEY_NO)
		  JOIN
		  	   TB_MEMBER
		 USING
		 	   (MEM_NO)
		 WHERE
		 	   $BASEKEY_NO = ?
		   AND
		   	   MEM_STATUS = 'Y'
		 ORDER
		    BY
		       HT_$BASEKEY_DATE DESC
	</entry>
	
	
	<entry key="heartCountSubsc">
		SELECT COUNT(*)
		  FROM TB_HT_SUBSC
		  JOIN
			   (SELECT CHEF_NO
				  FROM TB_CHEF
				  JOIN TB_MEMBER
					ON (CHEF_MEM_NO = MEM_NO)
				 WHERE MEM_STATUS = 'Y'
			   )
		 USING
		 	   (CHEF_NO)
		  JOIN
		  	   TB_MEMBER
		 USING
		 	   (MEM_NO)
		 WHERE
		       CHEF_NO = ?
		   AND
		       MEM_STATUS = 'Y'
		 ORDER
		    BY
		       HT_SUBSC_DATE DESC
	</entry>
	
	
	<entry key="heartCountReply">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_HT_REPLY
		  JOIN
			   (SELECT REPLY_NO
				 FROM TB_REPLY
			     JOIN
				      (SELECT RECIPE_NO
						FROM TB_RECIPE
						JOIN TB_MEMBER
						  ON (RECIPE_WRITER_NO = MEM_NO)
					   WHERE RECIPE_STATUS = 'Y'
						 AND MEM_STATUS = 'Y'
					  )
				USING (RECIPE_NO)
				 JOIN TB_MEMBER
				   ON (REPLY_WRITER_NO = MEM_NO)
				WHERE MEM_STATUS = 'Y'
			   )
		 USING
		 	   (REPLY_NO)
		  JOIN
		  	   TB_MEMBER
		 USING
		 	   (MEM_NO)
		 WHERE
		 	   REPLY_NO = ?
		   AND
		   	   MEM_STATUS = 'Y'
		 ORDER
		    BY
		       HT_REPLY_DATE DESC
	</entry>









<!-- 노티스 매퍼 -->
 	<entry key="insertnoticeHeart">
 		INSERT
 		  INTO
 		  		TB_HT_NOTICE
 		VALUES 
 				(
 				?
 			   ,?
 			   ,SYSDATE
 				)
 		WHERE
 				NOTICE_NO = ?
 	</entry>
 	
 	<entry key="countnoticeHeart">
 		SELECT
 				COUNT(NOTICE_NO)
 		  FROM
 		  		TB_HT_NOTICE
 		 WHERE
 		 		NOTICE_NO = ?
 	</entry>
 	
 	<entry key="selectnoticeHeartList">
 		SELECT
 				 MEM_NO
 			    ,NOTICE_NO
 				,HT_NOTICE_DATE
 		 FROM
 		 		TB_HT_NOTICE
 		 LEFT
 		 JOIN
 		 		TB_NOTICE USING(NOTICE_NO)
 		 ORDER
 		    BY
 		    	NOTICE_NO DESC
 	</entry>

 	<entry key="cancelnoticeHeart"> <!-- 좋아요 취소는 아예 delete 구문인가요? 아니면 Y, N 식별컬럼 추가요망? => del입니다 (이것도 한번에 만들 예정입니다!) - MJY -->
 		DELETE
 		  FROM
 		  		TB_HT_NOTICE
 		 WHERE
 		 		MEM_NO = ?
 		   AND
 		   		NOTICE_NO = ?
 	</entry>



</properties>