<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>DM 쪽지관련 SQL문</comment>
	
	<!-- 쪽지함 리스트 조회 -->
	<entry key="selectDmList">
		SELECT
				DM_NO,
				MEM_ID,
				MEM_NICKNAME,
				DM_CONTENT,
				SEND_DATE,
				DM_STATUS,
				DM_REPLY
		 FROM
		 		TB_DM
		 JOIN
		 		TB_MEMBER ON(SEND_MEM = MEM_NO)
		 ORDER
		    BY
		    	SEND_DATE DESC
	</entry>
	
	<!-- 쪽지 문의답변 업데이트 SQL문 -->
	<entry key="updateReply">
		UPDATE 
				TB_DM
		   SET
        		DM_REPLY = ?,
        		DM_STATUS = 'Y'
		 WHERE 
		 		DM_NO = ?
		   AND
		   		DM_STATUS = 'N'
	</entry>
	
	<!-- 쪽지 삭제 SQL문 -->
	<entry key="deleteDm">
		DELETE
        		TB_DM
		 WHERE
        		DM_NO = ?
	</entry>
	
	
	<!-- 삭제 예정 -->
	<entry key="selectDm">
		SELECT
				DM_NO,
				MEM_ID,
				MEM_NICKNAME,
				DM_CONTENT,
				SEND_DATE,
				DM_STATUS
		 FROM
		 		TB_DM
		 JOIN
		 		TB_MEMBER ON(SEND_MEM = MEM_NO)
		WHERE
				DM_NO = ?
	</entry>

	
</properties>